<h3>Detalles del Usuario</h3>
<div>
    <div>
        <label ><b>ID:</b>{{usuario.id}}</label>
        <br>
        <br>
        <label ><b>Nombre:</b>{{usuario.nombre}}</label>
        <br>
        <br>
        <label ><b>Apellido:</b>{{usuario.apellido}}</label>
        <br>
        <br>
        <label ><b>Cédula:</b>{{usuario.cedula}}</label>
        <br>
        <br>
        <label ><b>Email:</b>{{usuario.correo}}</label>
        <br>
        <br>
        <label ><b>Télefono:</b>{{usuario.telefono}}</label>
    </div>
</div>
